

.tetris-parent{
    border: 3px solid black;
    width : 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: unset;
}
.tetris-parent div{
    width: 20px;
    height: 20px;
}