

.tetris-parent{
    border: 3px solid black;
    width : 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: unset;
}
.tetris-parent div{
    width: 20px;
    height: 20px;
}

.blue{
    background-color: blue;
}


/* for mini display */
.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: unset;
}

.mini-grid div{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

/* game start pause button  */
/* .gamePauseBtn{
    border: none;
    outline
} */

.tetro-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.side-divs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.side-divs h5{
    color: brown;
}
.side-divs button{
    margin: 0;
}
.gamePauseBtn{
    width: 120px;
    border: 2px solid teal !important;
    font-weight: 700 !important;
}